[ng\: cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}
body {
    padding-top: 70px;
}
#cover {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
}
#userInfo {
    float: right;
    padding: 8px;
}
#vc-navbar {
    padding-right: 2%;
}
#alertBox {
    position: fixed;
    min-width: 75%;
    left: 50%;
    margin: 0 0 0 -37.5%;
    top: 80px;
}
