.row
    .col-sm-6
        h1 Login
        p
            | Accounts are reset on server restart from
            code dummydata.js
            | . Default account is
            code test@test.com
            | /
            code test
    .col-sm-6
        form.form(name='form', ng-submit='login(form)', novalidate='novalidate')
            .form-group
                label Email
                input.form-control(type='text', name='email', ng-model='email')
            .form-group
                label Password
                input.form-control(type='password', name='password', ng-model='password')
            .form-group.has-error
                p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                    | Please enter your email and password.
                p.help-block {{ errors.other }}
            button.btn.btn-lg.btn-primary(type='submit') Sign in
            span.clearfix
.row
    .col-sm-6
        hr
        | Not registered?
        a.text-center.new-account(href='/register') Create an account.