.row
  .col-sm-6
    h1 Sign up
    
  .col-sm-6
    form.form(name='form', ng-submit='register(form)')
      .form-group
        label Name
        input.form-control(type='text', name='name', ng-model='name')
        p.label.label-danger(ng-show='errors.name')
          | {{errors.name.message}}

      .form-group
        label Email
        input.form-control(type='text', name='email', ng-model='email')
        p.label.label-danger(ng-show='errors.email')
          | {{errors.email.message}}

      .form-group
        label Password
        input.form-control(type='password', name='password', ng-model='password')
        p.label.label-danger(ng-show='errors.hashedPassword')
          | {{errors.hashedPassword.message}}


      button.btn.btn-lg.btn-primary(type='submit') Sign up
.row
  .col-sm-12
    hr
    | Have an account? 
    a.text-center.new-account(href='/login') Log in.