h1 Your jobs
.panel-group

    div.panel(ng-repeat='job in jobs', ng-class='{"panel-success": job.status == "completed", "panel-warning": job.status == "executing", "panel-info": job.status == "new"}', class='{{job}}')
        div.panel-heading
            h4.panel-title
                a(data-toggle='collapse', data-target='#{{job.id}}')
                    | {{job.type}}
            progressbar(value='job.progress * 100', style='margin-top:10px', ng-show='job.status == "executing" || job.status == "completed"')
        .panel-collapse.collapse(id='{{job.id}}')
            div.panel-body.container
                .row
                    p.col-md-3
                        strong Creation Date:
                    p.col-md-9 {{job.creation_date | date:'medium'}}
                .row
                    p.col-md-3
                        strong Status:
                        p.col-md-9 {{job.status}}
                .row(ng-show='job.status == "completed"')
                    p.col-md-3
                        strong Result:
                    div.col-md-9 {{job.result}}
                .row
                .row
                    p.col-md-3
                        strong Arguments range:
                    p.col-md-9  {{job.data.start}} - {{job.data.stop}}
                .row(ng-show='job.status == "new"')
                    div.col-md-3(style='padding-top: 7px')
                        strong Run:
                    .col-sm-4.col-md-3
                        form(name='form', role='form', ng-submit='startJob(job)')
                            .input-group
                                input.form-control(type='number',name='tasksCount', ng-model='job.tasksCount', placeholder='Number of tasks')
                                span.input-group-btn
                                    button.btn.btn-default(type='submit') Start
                            p.label.label-danger(ng-show='job.errors')
                                | {{job.errors.message}}




