h1 Client {{user.username}} has created following Jobs
    br
    br
    lp(ng-repeat="job in jobs")
        #test
            #leftBox
                dd
                    h4
                        b creation date: {{ job.creation_date }}
                dd
                    h4
                        b status: {{job.status}}
                dd
                    h4
                        b finished: [{{job.finished}} / {{job.allTasks}}]
                dd
                    h4
                        b data for job: {{job.data}}
            #rightBox
                #mar
                .box.effect7
                       h4
                         #mar
                            b code:
                            <br>
                            {{job.code}}
                br
        br

