h1 Add a new job
form.form-horizontal(name='form', role='form', ng-submit='addJob()')
    .form-group
        ol
            li
                h4 Select function
                select(ng-model='selectedFunction')
                    option(ng-repeat='function in functions') {{function}}
                p(ng-if='selectedFunction') Description of selected function
            li(ng-if='selectedFunction')
                h4 Enter arguments
                p Interval:
                .form-group
                    label.col-sm-2.control-label Beginning:
                    .col-sm-2
                        input.form-control(type='number', name='beginning', ng-model='beginning', required)
                .form-group
                    label.col-sm-2.control-label Ending:
                    .col-sm-2
                        input.form-control(type='number', name='ending', ng-model='ending', required)


                button.btn.btn-lg.btn-primary(type='submit') Add job
                .div
                p.label.label-danger(ng-show='errors')
                    | {{errors.message}}
                span.clearfix

